<IfModule mod_ssl.c>
	ExtendedStatus On

	<VirtualHost _default_:443>
		ServerName  maps:443
		ServerAlias map*

		ServerAdmin webmaster@localhost
		DocumentRoot    "/var/www/maps"
		# ErrorLog ${APACHE_LOG_DIR}/mapcache.error.log
		# CustomLog ${APACHE_LOG_DIR}/mapcache.access.log combined

		ExpiresActive on
		ExpiresDefault "now plus 1 week"
		FileETag MTime Size

		<IfModule mod_alias.c>
			<IfModule mod_cgi.c>
				  Define ENABLE_USR_LIB_CGI_BIN
			</IfModule>

			<IfModule mod_cgid.c>
				Define ENABLE_USR_LIB_CGI_BIN
			</IfModule>

			<IfDefine ENABLE_USR_LIB_CGI_BIN>
				ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
				<Directory "/usr/lib/cgi-bin">
					AllowOverride None
					Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
					Require all granted
				</Directory>
			</IfDefine>
		</IfModule>

		<IfModule mapcache_module>
			<Directory "/etc/mapcache/">
				Require all granted
			</Directory>
			MapCacheAlias /mapcache "/etc/mapcache/mapcache.xml"
		</IfModule>

		SSLEngine on

		Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
		SSLProtocol all -SSLv2 -SSLv3
		SSLHonorCipherOrder on
		SSLCipherSuite "EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:EDH+aRSA:RSA+AES:!RC4:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!CAMELLIA:!SEED:!DH"

                {% if (stat_https_certs.stat.exists) %}
		SSLCertificateFile	/etc/ssl/mapcache/mapcache.crt
		SSLCertificateKeyFile   /etc/ssl/mapcache/mapcache.key
		SSLCertificateChainFile /etc/ssl/mapcache/chain_for_apache.crt
		{% else %}
		SSLCertificateFile	/etc/ssl/certs/ssl-cert-snakeoil.pem
		SSLCertificateKeyFile  /etc/ssl/private/ssl-cert-snakeoil.key
		{% endif %}


		<FilesMatch "\.(cgi|shtml|phtml|php)$">
				SSLOptions +StdEnvVars
		</FilesMatch>
		<Directory /var/www/demo>
			   AllowOverride all
			   Order Allow,Deny
			   Allow from All
		</Directory>
		<Directory /usr/lib/cgi-bin>
				SSLOptions +StdEnvVars
		</Directory>
		BrowserMatch "MSIE [2-6]" \
				nokeepalive ssl-unclean-shutdown \
				downgrade-1.0 force-response-1.0
		BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
	</VirtualHost>

</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
